<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>VoltGest</title>
    </head>

    <body>
        <h1>VoltGest</h1>
        
        <nav>
            <a href="{{ url_for('home') }}" {% if session['budget'] %}onclick="return confirm('Al salir se perderán los datos del presupuesto, ¿continuar?')"{% endif %}>Inicio</a>
            <a href="{{ url_for('catalog') }}" {% if session['budget'] %}onclick="return confirm('Al salir se perderán los datos del presupuesto, ¿continuar?')"{% endif %}>Catálogo</a>
            <a href="{{ url_for('record') }}" {% if session['budget'] %}onclick="return confirm('Al salir se perderán los datos del presupuesto, ¿continuar?')"{% endif %}>Historial</a>
            <a href="{{ url_for('settings') }}" {% if session['budget'] %}onclick="return confirm('Al salir se perderán los datos del presupuesto, ¿continuar?')"{% endif %}>Ajustes</a>
        </nav>

        
        
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}

        {% block content %}{% endblock %}
    </body>
</html>