{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{{ url_for('save_articles_budget') }}">
        <fieldset>
            <legend>Selecciona IVA</legend>
            <input type="radio" id="vat_rate_10" name="vat_rate" value="10">
            <label for="vat_rate_10">10%</label>
            <input type="radio" id="vat_rate_21" name="vat_rate" value="21" checked>
            <label for="vat_rate_21">21%</label>
        </fieldset>

        <h2>Añadir artículos</h2>
        <ul>
            {% for a in articles %}
                {% if a['scope'] == budget['work_type'] or a['scope'] == 'both' %}
                    <li>
                        {{ a['name'] }} - {{ a['price'] }}
                        <input type="number" name="units_{{ a['name'] }}" value="0" min="0">
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <button type="submit">Ver resumen</button>
    </form>
{% endblock %}