{% extends "base.html" %}
{% block content %}
    <div class="page">
        <div class="page-title">
            <div class="back-title">
                <a class="a-reset" href="{{ url_for('home') }}" onclick="return confirm('Al salir se perderán los datos del presupuesto, ¿continuar?')"><span class="icon-cancel material-icons">arrow_back</span></a>
                <h2>Datos del cliente</h2>
            </div>
            <div>
                <a class="a-reset" href="{{ url_for('home') }}" onclick="return confirm('Al salir se perderán los datos del presupuesto, ¿continuar?')"><span class="icon-cancel material-icons">close</span></a>
            </div>
        </div>
        <form class="form" method="POST" action="{{ url_for('save_client') }}">
            <label class="name" for="name-field">Nombre:
                <input id="name-field" type="text" name="name" value="{{ session['budget']['client']['name'] }}">
            </label>
            <label class="address" for="address-field">Dirección:
                <input id="address-field" type="text" name="address" value="{{ session['budget']['client']['address'] }}">
            </label>
            <label class="phone" for="phone-field">Teléfono:
                <input id="phone-field" type="tel" name="phone" value="{{ session['budget']['client']['phone'] }}">
            </label>
            <button class="button button-primary" type="submit">Guardar cliente</button>
        </form>
    </div>
{% endblock %}
