{% extends "base.html" %}

{% block content %}

    <h3>CATÁLOGO</h3>
    <p> {{ number_articles }} artículos </p>

    <a href="{{ url_for('new_article') }}">Nuevo artículo</a>

    <ul>
        {% for article in articles %}

            <li>
                {{ article['name'] }} - {{ SCOPE_ES[article['scope']] }} - {{ money(article['price']) }}
                <a href="{{ url_for('delete_article', name=article['name']) }}">Borrar</a>
                <a href="{{ url_for('edit_article', name=article['name']) }}">Editar</a>
            </li>

        {% endfor %}
    </ul>

{% endblock %}