{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <h2>Editar artículo</h2>
    </div>
    <form class="form" method="POST" action="{{ url_for('edit_article', name=article['name']) }}">
        <label class="name" for="name-field">Nombre:
            <input id="name-field" type="text" name="name" value="{{ article['name'] }}">
        </label>
        <label class="price" for="price-field">Precio:
            <input id="price-field" type="text" name="price" value="{{ article['price'] }}">
        </label>
        <label class="scope" for="scope-field">Ámbito:
            <select id="scope-field" name="scope">
                <option value="new_build" {% if article['scope'] == 'new_build' %}selected{% endif %}>Obra nueva</option>
                <option value="renovation" {% if article['scope'] == 'renovation' %}selected{% endif %}>Reforma</option>
                <option value="both" {% if article['scope'] == 'both' %}selected{% endif %}>Ambos</option>
            </select>
        </label>
        <button class="button button-primary" type="submit">Guardar</button>
    </form>
{% endblock %}