{% extends "base.html" %}
{% block content %}
    <div class="page">
        <div class="page-title">
            <h2>HISTORIAL</h2>
            <p> {{ number_budgets }} presupuestos </p>
        </div>
        <ul>
            {% for budget in budgets %}
            <li class="row">
                <a class="row-link" href="{{ url_for('preview', number=budget['number']) }}">
                    <div class="row-info">
                        <div class="row-name"> {{ budget['client']['name'] }} </div>
                        <div class="row-meta">
                            <div> {{ budget['number'] }} </div>
                            <div> {{ budget['date'] }} </div>
                        </div>
                    </div>
                    <div class="row-amount">
                        <!-- <div class="row-scope"> {{ SCOPE_ES[budget['work_type']] }} </div> -->
                        <div class="row-price"> {{ money(budget['totals']['total']) }} </div>
                    </div>
                </a>
                <a class="row-delete icon-danger material-symbols-outlined " href="{{ url_for('delete_budget', number=budget['number']) }}">delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}